.ui-title
{
    white-space: normal;
}

.main-page-planet-tile
{
    float:left;
    max-width:15em;
    width: 15em;
    margin: 1em;
    text-align: center;
}

.view-planet-page-deposit-grid
{
    width: 20em;
    height: 20em;
    margin: 2em auto 2em auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.view-planet-page-deposit-grid-cell
{
    border: 1px solid black;
}
